extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Active Games
  form(action='/games/join',method='post')
    select(name='game')
      option(disabled,selected) Select Game
      each game in games
        option #{game}
    input(type='submit',value='Join')

  form(action='/games/create',method='post')
    label(for='gamename') Game Name:
      input#gamename(type='text',name='gamename')
    input(type='submit',value='Create')
