extends layout

block content
  h2 Active Games

  form(action='/games/join',method='post')
    select(name='game',id='games')
      option(disabled,selected) Select Game
      each game in games
        option #{game}
    input(type='submit',value='Join')

  br

  form(action='/games/create',method='get')
    input(type='submit',value='Create')
