extends layout

block content
  h2 Active Users
  form(action='/users/info',method='get')
    select(name='user')
      option(disabled,selected) Select User
      each user in users
        option #{user.nickname}##{user.tripcode}
    input(type='submit',value='Info')
